<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" (ngSubmit)="signIn()">
    <mat-card-content>
      <app-textbox-control
        controlName="username"
        className="signid"
        label="username"
        [form]="form"
        type="string"
        maxLength="8"
        matSuffix="@medicalguide.com"
        [required]="true"
        matIconPrefix="person"
        errorMessage="Invalid Username"
      ></app-textbox-control>
      <app-textbox-control
        controlName="password"
        className="signid"
        label="password"
        [type]="passwordData.type"
        [form]="form"
        [required]="true"
        errorMessage="Invalid Password"
        [matIconButtonSuffix]="passwordData.icon"
        (clickButtonSuffix)="changePasswordData()"
      ></app-textbox-control>
      
    </mat-card-content>
    <mat-card-actions class="space-around">
      <button 
        class="change-sign-mode"
        mat-button type="button" routerLink="./signup">Create account</button>
      <button
        type="submit"
        mat-raised-button
        color="accent"
        [disabled]="!form.valid"
        >SIGN IN</button>
    </mat-card-actions>
  </form>
</mat-card>
