:host 
  display: flex
  height: 100vh
  flex-direction: column
  justify-content: center
  align-items: center

mat-card 
  display: flex
  justify-content: space-around
  align-content: center
  flex-direction: column
  width: 400px
  height: 50%

mat-card-header 
  display: flex
  justify-content: center

mat-card-content 
  display: flex
  justify-content: space-around
  flex-direction: column

app-textbox-control 
  display: flex
  justify-content: center

.space-around 
  display: flex
  justify-content: space-around
  flex-direction: row

a 
  text-decoration: none
  color: #ff7050
  padding-top: 10px
  font-size: 13px
  display: block
  text-align: center



