<mat-card>
  <mat-card-header>
    <mat-card-title>Create your Account</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="space-between">
        <app-textbox-control
          controlName="firstname"
          label="fist name"
          [form]="form"
          type="text"
          [required]="true"
          errorMessage="First Name Required."
        ></app-textbox-control>
        <app-textbox-control
          controlName="lastname"
          label="last name"
          [form]="form"
          type="text"
          [required]="true"
          errorMessage="Last Name Required."
        ></app-textbox-control>
      </div>
      <app-textbox-control
        className="username"
        controlName="username"
        label="username"
        [form]="form"
        type="text"
        [required]="true"
        matSuffix="@medicalguide.com"
        matHintStart="Your can use letters, numbers & periods. Use 8 or more characters"
        errorMessage="Invalid Username, use 8 or more characters."
      ></app-textbox-control>
      <div>
        <div class="space-between">
          <app-textbox-control
            controlName="password"
            label="password"
            [type]="passwordData.type"
            [form]="form"
            [required]="true"
            [errorMessage]="passwordData.messageError"
          ></app-textbox-control>
          <app-textbox-control
            controlName="confirm"
            label="confirm"
            [type]="passwordData.type"
            [form]="form"
            [required]="true"
            [errorMessage]="passwordData.messageError"
          ></app-textbox-control>
          <div>
            <button mat-icon-button>
              <mat-icon (click)="changePasswordData()"
                >{{ passwordData.icon }}</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="space-around">
    <a routerLink="../">Sign in instead</a>
    <button
      type="submit"
      mat-raised-button
      color="accent"
      [disabled]="!form.valid || password.value !== confirm.value"
      (click)="register()"
      >LOGIN</button>

  </mat-card-actions>
</mat-card>
