.main-content-visible 
  display: flex
  height: 100vh
  flex-direction: column
  justify-content: center
  align-items: center

mat-card 
  display: flex
  justify-content: space-around
  align-content: center
  flex-direction: column
  width: 450px
  height: 50%

mat-card-header 
  display: flex
  justify-content: center

mat-card-content 
  display: flex
  justify-content: space-around
  flex-direction: column

app-textbox-control 
  display: flex
  justify-content: center

.space-around 
  display: flex
  justify-content: space-around
  flex-direction: row

.space-between 
  display: flex
  justify-content: space-between
  flex-direction: row
  margin-bottom: 15px

  app-select-control
    width: 160px